.cover__subtitle {
  color: #FFF;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  margin: 0;
  max-width: 360px;
  z-index: 1;
}


@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: calc(14px + (18 - 14) * (100vw - 320px)/(767 - 320));
    line-height: 1.14;
    min-width: 288px;
  }

}