.page__section-intro {
  margin: 92px auto;
  color: #FFF;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .page__section-intro {
    padding: 0 calc(24px + (48 - 24) * (100vw - 768px)/(1024 - 768));
  }
}

@media screen and (max-width: 1023px) {
  .page__section-intro {
    margin: 88px auto;
  }
}

@media screen and (max-width: 768px) {
  .page__section-intro {
    padding: 0 calc(16px + (24 - 16) * (100vw - 320px)/(768 - 320));
  }
}

@media screen and (max-width: 767px) {
  .page__section-intro {
    margin: 64px auto;
  }
}