.page__section-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1184px;
  min-height: 52px;
  margin: 0;
  padding: 28px 48px 0;
}

@media screen and (max-width: 1023px) {
  .page__section-header {
      padding: 28px calc(24px + (48 - 24) * (100vw - 768px)/(1023 - 768)) 0;
  }
}

@media screen and (max-width: 767px) {
  .page__section-header {
    min-height: 42px;
    padding: 16px calc(16px + (24 - 16) * (100vw - 320px)/(767 - 320)) 0;
  }
}