.page__section-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1184px;
  min-height: 52px;
  margin: 0 auto;
  padding-top: 28px;
}

@media screen and (max-width: 767px) {
  .page__section-header {
    min-height: 42px;
    padding-top: 16px;
  }
}