.lead__image {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: calc(100% - (0px + (96 - 0) * (100vw - 768px)/(1024 - 768)));
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
  }
}