.cover__title {
  color: #FFF;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  max-width: 560px;
  text-align: center;
  z-index: 1;
  margin: 0 0 32px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * (100vw - 320px)/(767 - 320));
    line-height: 1.1;
    margin-bottom: 16px;
  }
}