.place {
    display: grid;
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    grid-template-rows: minmax(min-content, max-content)  minmax(min-content, max-content);
    gap: 48px 40px;
    margin-top: 80px;
  }