.place {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  gap: 48px 40px;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 48px 28px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 50px;
  }
}