.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px auto 0;
  padding-bottom: 24px;
  max-height: 18px;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin: 64px auto 0;
    max-height: fit-content;
  }
}