.page__section-footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
  padding: 0 48px 24px;
  max-height: 18px;
}

@media screen and (max-width: 1023px) {
  .page__section-footer {
      padding: 0 calc(24px + (48 - 24) * (100vw - 768px)/(1023 - 768)) 24px;
  }
}

@media screen and (max-width: 767px) {
  .page__section-footer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 64px;
    max-height: fit-content;
    padding: 0 calc(16px + (24 - 16) * (100vw - 320px)/(767 - 320)) 24px;
  }
}
